<div class="footer-pagination">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <div class="items">
        <label>Item per page</label>
        <select [(ngModel)]="currentSize" (change)="refreshItemPerPageValue()">
          <option *ngFor="let item of itensPerPageSize" value="{{ item }}">{{
            item
          }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="number">
        {{ firstItemNumber }} - {{ lastItemNumber }} of
        {{ totalItens }}
      </div>
    </div>
    <div class="col-md-1">
      <div class="arrows">
        <a href="/{{ context }}?size={{ currentSize }}&page={{ previousPage }}">
          <i class="fa fa-angle-left" aria-hidden="true"></i
        ></a>
        <a href="/{{ context }}?size={{ currentSize }}&page={{ nextPage }}">
          <i class="fa fa-angle-right" aria-hidden="true"></i
        ></a>
      </div>
    </div>
  </div>
</div>
